In [43]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from datetime import date, datetime, timedelta
from tqdm import tqdm
import time
import json
import re
from ast import literal_eval

In [44]:
start_url = 'https://www.transparency.org/api/latest/cpi'

In [45]:
response = requests.get(start_url).json()

In [46]:
df = pd.DataFrame(response)

In [87]:
df.to_csv('transparency_active.csv')

In [92]:
df.year.min()

2012

In [94]:
end_year = df.year.min()
start_year = 1995

In [102]:
legacy_list = []
for year in tqdm(range(start_year, end_year)):
    legacy_response = requests.get(f'https://www.transparency.org/en/cpi/{year}')
    legacy = pd.DataFrame(literal_eval(re.findall(r'window.cpiData = \[(.*?)\]', legacy_response.text)[0].replace('\\', '')))
    legacy_list.append(legacy)

In [108]:
df_legacy = pd.concat(legacy_list).reset_index(drop=True)

In [109]:
df_legacy.to_csv('transparency_legacy.csv')

In [107]:
df_legacy

          country  iso region score rank  change interval range
0     New Zealand  NZL     AP  9.55    1       0      NaN   NaN
1         Denmark  DNK  WE/EU  9.32    2       0      NaN   NaN
2       Singapore  SGP     AP  9.26    3       0      NaN   NaN
3         Finland  FIN  WE/EU  9.12    4       0      NaN   NaN
4          Canada  CAN    AME  8.87    5       0      NaN   NaN
...           ...  ...    ...   ...  ...     ...      ...   ...
2111    Venezuela  VEN    AME   1.9  172       3      0.1   NaN
2112      Vietnam  VNM     AP   2.9  112      15     0.17   NaN
2113        Yemen  YEM   MENA   2.1  164     -10     0.12   NaN
2114       Zambia  ZMB    SSA   3.2   91      19     0.31   NaN
2115     Zimbabwe  ZWE    SSA   2.2  154      -8     0.37   NaN

[2116 rows x 8 columns]

In [118]:
pd.read_excel('wgidataset.xlsx', sheet_name=1, skiprows=13)

,Unnamed: 0,Unnamed: 1,1996,1996.1,1996.2,1996.3,1996.4,1996.5,1998,1998.1,...,2020.2,2020.3,2020.4,2020.5,2021,2021.1,2021.2,2021.3,2021.4,2021.5
0,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
1,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,92.753624,72.463768,99.516907,1.028604,0.251591,1,81.642509,64.734299,95.652176
2,Andorra,ADO,1.563217,0.291691,3,98.5,81.5,100,1.528759,0.291445,...,2,83.574883,70.531403,95.652176,1.043449,0.24594,2,82.608696,66.183578,95.652176
3,Afghanistan,AFG,-1.90854,0.261457,4,1,0,9.5,-2.039301,0.25609,...,9,19.806763,13.52657,23.671497,-1.570883,0.134847,9,7.246377,1.449275,12.560387
4,Angola,AGO,-1.578164,0.20881,6,6,0.5,13,-1.411879,0.214446,...,11,26.086956,21.256039,31.400967,-0.840916,0.120518,12,24.637682,20.289856,29.951691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Serbia,SRB,-1.215804,0.20881,6,14,6.5,21.5,-0.973843,0.214446,...,10,40.579712,35.748791,50.724636,-0.123648,0.12744,10,41.062801,35.748791,49.758453
211,South Africa,ZAF,0.841139,0.208056,7,73,64.5,86,0.846978,0.213555,...,13,70.048309,61.835751,74.879227,0.788497,0.121276,12,72.463768,63.768116,79.227051
212,"Congo, Dem. Rep.",ZAR,-1.600949,0.235619,4,4.5,0,14,-1.728647,0.249131,...,11,14.975845,8.212561,20.289856,-1.198189,0.120518,12,15.458938,12.560387,20.772947
213,Zambia,ZMB,-0.334019,0.20881,6,38,27.5,50.5,-0.483754,0.214446,...,12,34.782608,29.951691,37.68116,-0.366999,0.12136,11,35.265701,32.850243,38.647343
214,Zimbabwe,ZWE,-0.61155,0.20881,6,30.5,18.5,41,-0.789812,0.214446,...,12,17.874395,13.043478,23.188406,-1.136934,0.121119,12,18.357489,12.560387,22.705315