In [24]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from datetime import date, datetime, timedelta
from tqdm import tqdm
import time
import json
import re
from ast import literal_eval

In [44]:
start_url = 'https://www.transparency.org/api/latest/cpi'

In [45]:
response = requests.get(start_url).json()

In [46]:
df = pd.DataFrame(response)

In [87]:
df.to_csv('transparency_active.csv')

In [92]:
df.year.min()

2012

In [25]:
end_year = 2012
start_year = 1995

In [28]:
legacy_list = []
for year in tqdm(range(start_year, end_year)):
    legacy_response = requests.get(f'https://www.transparency.org/en/cpi/{year}')
    legacy = pd.DataFrame(literal_eval(re.findall(r'window.cpiData = \[(.*?)\]', legacy_response.text)[0].replace('\\', '')))
    legacy['year'] = year
    legacy_list.append(legacy)

100%|███████████████████████████████████████████| 17/17 [00:31<00:00,  1.83s/it]

In [29]:
df_legacy = pd.concat(legacy_list).reset_index(drop=True)

In [33]:
df_legacy.rename({'interval': 'standard_deviation'}, axis=1)

,country,iso,region,score,rank,change,year,standard_deviation,range
0,New Zealand,NZL,AP,9.55,1,0,1995,NaN,NaN
1,Denmark,DNK,WE/EU,9.32,2,0,1995,NaN,NaN
2,Singapore,SGP,AP,9.26,3,0,1995,NaN,NaN
3,Finland,FIN,WE/EU,9.12,4,0,1995,NaN,NaN
4,Canada,CAN,AME,8.87,5,0,1995,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2111,Venezuela,VEN,AME,1.9,172,3,2011,0.1,NaN
2112,Vietnam,VNM,AP,2.9,112,15,2011,0.17,NaN
2113,Yemen,YEM,MENA,2.1,164,-10,2011,0.12,NaN
2114,Zambia,ZMB,SSA,3.2,91,19,2011,0.31,NaN
2115,Zimbabwe,ZWE,SSA,2.2,154,-8,2011,0.37,NaN

In [34]:
df_legacy.to_csv('transparency_legacy.csv')

In [22]:
pd.read_stata('wgidataset.dta').to_csv('wgidataset.csv')